@tailwind base;
@tailwind components;
@tailwind utilities;


.box{
    border-radius: 100px !important;
    width: 30px !important;
    height: 30px !important;
}
.boxone{
    border-radius: 100px !important;
    width: 30px !important;
    height: 30px !important;
}
.boxthree{
    border-radius: 100px !important;
    width: 30px !important;
    height: 30px !important;
}